%h2 ツイート検索
= link_to 'ツイートを投稿する', new_tweet_path, {class: 'btn btn-primary withripple' }
= link_to '自分のツイート一覧へ', show_tweets_path, {class: 'btn btn-primary withripple' }
- @tweets.each do |tweet|
  .contents.row
    .name3
      投稿者:#{link_to tweet.user.name, new_tweet_path(tweet.user), method: :get}
    .name2
      投稿日時:#{tweet.created_at.strftime("%Y-%m-%d %H:%M:%S")}
    .name2= link_to '詳細', tweet_path(tweet), method: :get
    - if user_signed_in? && current_user.id == tweet.user
      .name2
        = link_to '編集', edit_tweet_path(tweet), method: :get
      .name2
        = link_to '削除', "/tweets/#{tweet.id}", method: :delete
    .name3= simple_format(tweet.text)
= paginate(@tweets)
